body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;


  background-color: #f2f2f2;
}

section{
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

.bold {
  font-weight:700;
}

.page-wrapper{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 12px rgba(0,0,0,0.5);


}
.page-content {
  background-color: #ffffff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 0;
  margin: 0;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

footer{
  padding: 0;
  margin: 0;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main{
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  width: 1200px;
  min-height: 56px;
  margin-left: auto;
  margin-right: auto;

    position: relative;

  font-weight: bold;

  background-color: #ffffff;
}

.main-navigation ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 56px;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  justify-content: space-between;

  text-align: center;
}
.main-navigation a{
  vertical-align: middle;
  margin: 0;

}

.main-navigation li{
  width: 20%;
  vertical-align: middle;

}

.main-navigation li:nth-of-type(2){
  margin-left: 0;
  margin-right: 20%;
}



.logo{
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
    left: 50%;
    right: 50%;
    top: 0;
    width: 138px;
    height: 70px;
}


.main-navigation a:hover, .main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation a.current, .main-navigation a.current:hover, .main-navigation a.current:focus, .main-navigation a.current:active {
  color: #766357;
}

.promo {
  position: relative;

  padding-top: 77px;
  padding-bottom: 90px;
  height: 510px;
  box-sizing: border-box;

  text-align: center;

  background-color: #647e94;
  background-image: url(../img/title-mask.png),
   url(../img/mountains.jpg);
    background-position:0 100%, 0 20%;
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
}

.demo-block{
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
}


.demo-block p:first-child {
  font-size: 21px;
  width: 440px;
  margin: 0;
  padding: 0;
  margin-left:auto;
  margin-right: auto;
margin-bottom: 28px;}

.demo-block p:nth-child(2) {
  padding: 0;
  margin:0;
  }

.reasons{
  padding:0;

}

.reasons ul{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  text-align: center;
  line-height: 21px;
}

.reasons li{
  box-sizing: border-box;
  flex-grow:1;

}


.reason{
  box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  padding-top: 46px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.reason p{
  min-width: 208px;
  margin:0;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}

.reason p:first-of-type{
  margin-bottom: 20px;
}

.reason h3{
  width: 40%;
  margin:0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}


.reason-wide{
  display: flex;
  flex-wrap:nowrap;
  width: 100%;
  padding: 0;
}

.reason-wide-reverse{
  flex-direction: row-reverse;
}

.reason-info{
  box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  padding-top: 46px;
}

.reason-img{
  padding: 0;
  flex-grow: 1;
  min-height: 256px;
  width: 800px;
	position:relative;
  overflow: hidden;

}

.reason-wide .tile-picture{
  position:absolute;
  width: 100%;
  left: 0;
  bottom: -70px;
}

.reason-wide-reverse .tile-picture{
  position:absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
}


.offers{
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  width: 100%;
}


.offer{
  box-sizing: border-box;
  width: 33%;
  min-height: 330px;
  flex-grow: 1;
  padding-top: 160px;
  text-align: center;

}

.offer h3{
  margin: 0;
  margin-bottom: 25px;
}

.offer p{
  width: 65%;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}


.reasons ul, .offers {
  list-style: none;
}

.reason h3, .offer h3 {
  font-size: 21px;
  text-weight: bold;
}

.houses{
  position: relative;
  background-image: url(../img/icon-1.svg);
  background-repeat:no-repeat;
  background-position: 50% 60px;
}

.food{
  position: relative;
  background-image: url(../img/icon-3.svg);
  background-repeat:no-repeat;
  background-position: 50% 60px;
}

.souv{
  position: relative;
  background-image: url(../img/icon-2.svg);
  background-repeat:no-repeat;
  background-position: 50% 50px;
}

.reason-wide .reason-info {
  color: white;

  background-color: #81b3d2;
}

.reason-info-grey{
  background-color: #eeeeee;
}


.booking-preview{
  width: 100%;
  position: relative;
  padding-top: 50px;
}

.booking-container{
  width: 570px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.booking-preview p {
  line-height: 24px;
  margin: 0;
}

.booking-preview p:first-child{
  margin-bottom: 25px;
}

.booking-preview p:nth-child(2){
  margin-bottom: 45px;
}

.booking-preview .bold {
  font-size: 30px;
  line-height: 36px;
}

.btn {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.brown-btn {
  background-color: #766357;
}


.brown-btn:hover{
  background-color: #604e43;
}

.brown-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.booking-container .brown-btn{
  box-sizing: border-box;
  display: inline-block;
  min-height: 85px;
  padding: 30px 140px;
    width: 100%;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}


.booking-container {
  text-align: center;

}

.popup {position:absolute;
  z-index: 2;
  box-sizing: border-box;
  width: 570px;
  min-height: 395px;
  padding: 55px;
  left:316px;
  margin-right: auto;
  align-items: : center;
  font-weight: bold;

  background-color: #ffffff;
}

.popup-content{outline: 1px solid red;
  position: relative;
    padding: 0;
}

.popup-content p{
  margin: 0;
  padding: 0;
  outline: red solid 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.popup input{
  box-sizing: border-box;


  font: inherit;
  text-transform: inherit;
  line-height: 38px;

  Background-color: #f2f2f2;
  border: none;
}

.popup p{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.popup label{
  display: inline-block;
  white-space: nowrap;
  line-height: 38px;
  vertical-align: middle;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 30px;
}


.amount-field{
  align-items: center;
  position: relative;
  justify-content:space-between;
}


.date-field input {
  box-sizing: border-box;
  width: 345px;
  padding-left: 10px;
}

.amount-field input{
  width: 38px;

  }

.popup input:hover{
  Background-color:#ebebeb;
}

.popup input:focus{
    Background-color:#ffffff;
}

.calendar{
  position: absolute;
  padding:0;
  margin:0;
  right:15px;
  background-color: transparent;
  border: none;
}
.date-of-arrival-calendar{
  top: 5px;
}

.date-of-departure-calendar{
  top: 75px;
}
.calendar svg{
fill-opacity: 0.3;
}

.calendar:hover svg{
fill-opacity: 1;
}

.calendar:active svg{
  fill:#81b3d2;
  fill-opacity: 0.9;
}

.amount-btn{
  font-size:0;
  padding: 20px;
  min-height: 38px;
  background-color:#f2f2f2;
  border: none;
  position:relative;
}

.amount-btn::before,
.amount-btn::after{
  content: "";
  position: absolute;
  top: 19px;
  left: 13px;
  width: 12px;
  height: 4px;
  background-color: #a9a9a9;
}

.amount-plus::after{
  transform: rotate(90deg);
}

.amount-btn:hover{
  color: #000000;
}

.amount-btn:active{
  color: #81b3d2;
}


.blue-btn {
  background-color: #81b3d2;
}

.blue-btn:hover, .blue-btn:focus {
  background-color: #669ec0;
}

.blue-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.popup-content .blue-btn{
  display: block;
  height: 58px;
  width: 100%;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  vertical-align: middle;
}


.map{position:relative;
  width: 100%;
  height: 473px;
}

.map img{
	position: absolute;
  left: 0;
  top:-5;
  width: 1200px;
  height: 595px;
  z-index: 1;
}



.page-footer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  padding-top: 36px;
  padding-left: 132px;
  padding-right: 100px;
  z-index: 2;

  padding-bottom: 36px;
  background-color:rgba(256,256,256,0.8);
}

.hashtag{
  font-size: 21px;
  margin:0;
  margin-right: 253px;
}

.htmlacademy-link svg{
  display: inline-block;
  vertical-align:middle;
  width: 115px;
  height: 41px;
}
.social {
  display: flex;
  list-style: none;
  padding: 0;
  margin:0;
}

.social-btn{
  display: block;
  position: relative;

  width: 46px;
  height: 48px;
  margin:0 3px;

  background-color: #81b3d2;
}

.social-btn::before{
  content: "";
  width: 20px;
  height: 22px;
  position: absolute;
  top: 30%;
  left: 30%;}

  .social-btn.twitter-btn::before{
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .social-btn.facebook-btn::before{
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .social-btn.youtube-btn::before{
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
  }


.social-btn:hover{
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active::before{
  opacity: 0.3;
}

.htmlacademy-link{
  vertical-align: middle;
  margin:0;
  margin-right: 0;
  margin-left: auto;
}

.htmlacademy-link span{
  margin-right: 5px;
}

.htmlacademy:hover svg{
  fill:#81b3d2;
}

.htmlacademy:active svg{
  fill:#000000;
  fill-opacity: 0.3;
}



.search-form{
  position: relative;
  padding: 30px 70px;
  padding-bottom: 35px;
  line-height: 21px;
  color: #ffffff;
  height: 210px;

  box-sizing: border-box;
  background: #647e94 0 50% no-repeat url(../img/mountains_blur.jpg);
  background-size: 100% auto;
}

.search-form form{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search-form fieldset {
  border: none;
  padding: 0;
}

.search-form legend {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.search-form ul {
  list-style: none;
  margin-bottom: 40px;
}

.search-form li{
  margin: 0;
  margin-bottom: 25px;
}

.search-form li:last-child{
  margin-bottom: 30px;
}

.search-form .infrastructure{
  margin-right: 115px;
}
.search-form label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-сheckbox+label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;


}

.filter-сheckbox:checked+label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;


}


input.start-value{
    border-right: 2px #ffffff solid;
}



.filter-range {
  width: 320px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}



.search-form .filter-range{
  margin-left: auto;
}



.sorting-field{
display: flex;
background-color: #ffffff;
align-items: center;
margin: 0;
padding: 31px 72px;
vertical-align: middle;

}



.sorting-field ul {
  margin: 0;
  list-style: none;
  display: flex;
}

.sorting-field span:first-child{
  vertical-align: middle;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-right: 50px;
}

.sorting-field span:nth-child(2){
  vertical-align: bottom;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-right: 40px;
}

.sorting-method{
  font: inherit;
}

.sorting-btn{
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  margin: 0;
  margin-right: 33px;

  background-color: transparent;
  padding: 0;
  border: none;
  border-bottom: dotted 1px #81b3d2;
}

.sorting-btn:hover,
.sorting-btn:focus{
  color: #81b3d2;

  border-bottom: dotted 1px #81b3d2;

}

.sorting-btn:active{
  color: #000000;

  border: none;
}

.sorting-btn.current,
.sorting-btn.current:hover,
.sorting-btn.current:focus,
.sorting-btn.current:active{
  color: #81b3d2;

  border: none;
}

.order-field{
  margin: 0;
  margin-left: auto;
}

.order-direction:first-child{
  margin-right: 12px;
}

.order-direction{
  position: relative;
  padding:0;
  background-color: transparent;
  border: none;
  width: 12px;
  height: 12px;
}

.order-direction svg{
  fill: #cacaca;
}

.order-direction:hover svg{
  fill: #000000;
}


.order-direction:active svg{
  fill: #81b3d2;
}

.order-direction.current svg,
.order-direction.current:hover svg,
.order-direction.current:active svg{
   fill: #81b3d2;
}



.items {
  background-color: #ffffff;
  margin:0;

}

.search-result-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items:stretch;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-result-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 90px;

  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  padding: 30px 72px;
}

.search-result-item:first-child{
  border-top: 1px solid rgba(0,0,0, 0.1);
}

.search-img img{
  display: block;
  width: 135px;
  height: 90px;
}

.search-img{
margin-right: 30px;

}

.search-result-info{border: 1px cyan solid;
  display: flex;
  width: 260px;
  min-height: 90px;
  padding: 0;
  flex-direction:row;
  flex-wrap: wrap;
  box-sizing: border-box;}

.result-title {
  font: inherit;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  font-weight: 700;
  padding: 0;
}

.search-result-info a{
  flex-grow: 1;
  margin: 0;
  display: inline-block;
  vertical-align: baseline;
}

.result-collumn{outline: 1px cyan solid;
  box-sizing: border-box;
  width: 40%;
  min-height: 60px;
  margin-right: 5px;
  padding: 0;
}
.result-collumn-right{
  flex-grow: 1;
}

.result-collumn span{
  display: inline-block;
  margin-bottom: 15px;
}
.result-collumn .blue-btn{
  display:block;
  font-weight: bold;
  width: 100%;
  height: 27px;
  margin-bottom: 0;
}

.result-collumn .brown-btn{
  display:block;
  font-weight: bold;
  width: 100%;
  height: 27px;
  margin-bottom: 0;
}


.hotel-rating {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 90px;
  margin-left: auto;
}

.hotel-rating *{
  margin: 0;
  padding: 0;
}

.item-name h3{
  margin: 0;
  width: 100%;

}

.items ul {
  list-style: none;
}
a.item-name:hover,
 a.item-name:focus {
  color: #81b3d2;
}

a.item-name:active{
  color: rgba(0,0,0, 0.3);
}

a.item-name:visited{
  color: rgba(0,0,0, 0.3);
}



.rating-text {
  color: #666666;

  background-color: #f2f2f2;
}

.hotel-rating{
outline: 1px red solid;}
.starbar{
  padding: 0;
}

.starbar li{
  display:inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
}
