body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;


  background-color: #f2f2f2;
}

section{
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

.bold {
  font-weight:700;
}

.page-wrapper{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);

          box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.page-content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
}

header {
  padding: 0;
  margin: 0;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

footer{
  padding: 0;
  margin: 0;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main{
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  width: 1200px;
  min-height: 56px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  font-weight: bold;

  background-color: #ffffff;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 56px;
  padding: 0;
padding-left: 10px;
padding-right: 10px;
box-sizing: border-box;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  text-align: center;
  list-style: none;
  vertical-align: middle;
}

.main-navigation li{
  box-sizing: border-box;
  width: 20%;
  vertical-align: middle;
  line-height: 26px;
  padding: 15px 60px;

}

.main-navigation li:nth-of-type(2n){
  margin-left: 0;
  margin-right: 20%;
}

.main-navigation li:nth-of-type(4n){
  margin-left: auto;
  margin-right: 0;
}

.logo{
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 138px;
  height: 70px;

  z-index: 2;
  left: 50%;
  right: 50%;
  top: 0;
}


.main-navigation a:hover,
.main-navigation a:focus{
  color: #81b3d2;

}


.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation a.current, .main-navigation a.current:hover, .main-navigation a.current:focus, .main-navigation a.current:active {
  color: #766357;
}

.promo {
  position: relative;

  padding-top: 77px;
  padding-bottom: 90px;
  height: 510px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-align: center;

  background-color: #647e94;
  background-image: url(../img/title-mask.png),
   url(../img/mountains.jpg);
    background-position:0 100%, 0 20%;
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
}

.demo-block{
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;

}


.demo-block p:first-child {
  width: 440px;
  margin: 0;
  padding: 0;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 28px;

  font-size: 21px;
}

.demo-block p:nth-child(2) {
  padding: 0;
  margin:0;
  }

.reasons{
  padding:0;

}

.reasons ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  text-align: center;
  line-height: 21px;
}

.reasons li{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex:1;
      -ms-flex-positive:1;
          flex-grow:1;
}

.reason{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  padding-top: 46px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;

}

.reason p{
  min-width: 208px;
  margin:0;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}

.reason p:first-of-type{
  margin-bottom: 20px;
}

.reason h3{
  width: 50%;
  margin:0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.reason-wide{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap:nowrap;
      flex-wrap:nowrap;
  width: 100%;
  padding: 0;
}

.reason-wide-reverse{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.reason-wide-reverse h3{
    width: 60%;
}

.reason-info{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  padding-top: 46px;
}


.reason-wide-reverse .reason-info{
  padding-left: 40px;
  padding-right: 40px;
}



.reason-img{
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 256px;
  width: 800px;
	position:relative;
  overflow: hidden;
}

.reason-wide .reason-img{
  background-color: #bb887a;
}

.reason-wide-reverse .reason-img{
  background-color: #cf8065;
}

.tile-picture{
  position:absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: -70px;
}

.offers{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}


.offer{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  min-height: 330px;
  padding-top: 160px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;

  text-align: center;

}

.offer h3{
  margin: 0;
  margin-bottom: 25px;
}

.offer p{
  min-width: 252px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;

}


.reasons ul, .offers {
  list-style: none;
}

.reason h3, .offer h3 {
  font-size: 21px;
  text-weight: bold;
}

.houses{
  position: relative;
  background-image: url(../img/icon-1.svg);
  background-repeat:no-repeat;
  background-position: 50% 60px;
}

.food{
  position: relative;
  background-image: url(../img/icon-3.svg);
  background-repeat:no-repeat;
  background-position: 50% 60px;
}

.souv{
  position: relative;
  background-image: url(../img/icon-2.svg);
  background-repeat:no-repeat;
  background-position: 50% 50px;
}

.reason-wide .reason-info {
  color: white;

  background-color: #81b3d2;
}

.reason-info-grey{
  background-color: #eeeeee;
}


.booking-preview{
  width: 1200px;
  box-sizing: border-box;
  position: relative;
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
 text-align: center;
}

.booking-container{
  width: 570px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.booking-preview p {
  line-height: 24px;
  margin: 0;
}

.booking-preview p:first-child{
  margin-bottom: 25px;
}

.booking-preview p:nth-child(2){
  margin-bottom: 45px;
}

.booking-preview .bold {
  font-size: 30px;
  line-height: 36px;
}

.btn {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.brown-btn {
  background-color: #766357;
}


.brown-btn:hover{
  background-color: #604e43;
}

.brown-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.booking-container .brown-btn{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-height: 85px;
  padding: 30px 120px;
  width: 100%;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}


.booking-container {
  text-align: center;

}


@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes shake{
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.popup {
  position:absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 570px;
  min-height: 395px;
  padding: 55px;
  margin-right: auto;
  font-weight: bold;
  display: block;

  z-index: 3;
  left: 316px;

  background-color: #ffffff;
}

.js .popup {
  position:absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 570px;
  min-height: 395px;
  padding: 55px;
  margin-right: auto;
  font-weight: bold;
  display: none;

  z-index: 3;
  left: 316px;

  background-color: #ffffff;
}

.js .popup-show{
  display: block; animation: slideUp 0.6s;
}

.js .popup-error {
  animation: shake 0.6s;
}

.popup-content{
  position: relative;
  padding: 0;
}

.popup-content p{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup input{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;


  font: inherit;
  text-transform: inherit;
  line-height: 38px;
  height: 40px;

  Background-color: #f2f2f2;
  border: none;
}

.popup p{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

}

.popup label{
  display: inline-block;
  margin-left: 0;
  margin-bottom: 30px;

  white-space: nowrap;
  line-height: 38px;
  vertical-align: middle;
}


.amount-field{
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.amount-field p:first-child{
  margin-right: auto;
  margin-left: 0;
}

.amount-field label{
  margin: 0;
}

.adult-amount-field label{
  margin-right: 42px;
}

.child-amount-field label{
  margin-right: 25px;
}

.date-field input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 345px;
  padding-left: 10px;
}

.date-field input::-ms-clear{
  display: none;
}

.date-field label{
  margin-right: auto;
}


.date-field input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 345px;
  padding-left: 10px;
}

.amount-field input{
  width: 38px;

  text-align: center;
}

.popup input:hover{
  Background-color: #ebebeb;
}

.popup input:focus{
  background-color :#ffffff;
  outline: 1px #e5e5e5 solid;
}

.calendar{
  position: absolute;
  padding: 0;
  margin: 0;

  right: 10px;

  background-color: transparent;
  border: none;
}

.date-of-arrival-calendar{
  top: 7px;
}

.date-of-departure-calendar{
  top: 77px;
}

.calendar svg{
fill-opacity: 0.3;
}

.calendar:hover svg{
fill-opacity: 1;
}

.calendar:active svg{
  fill:#81b3d2;
  fill-opacity: 0.9;
}

.amount-btn{
  font-size:0;
  padding: 20px;
  min-height: 38px;
  background-color:#f2f2f2;
  border: none;
  position:relative;
}

.amount-btn::before,
.amount-btn::after{
  content: "";
  position: absolute;
  top: 19px;
  left: 13px;
  width: 12px;
  height: 4px;
  background-color: #a9a9a9;
}

.amount-plus::after{
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.amount-btn:hover::before,
.amount-btn:hover::after{
  background-color: #000000;
}

.amount-btn:active::before,
.amount-btn:active::after{
  background-color: #81b3d2;
}


.blue-btn {
  background-color: #81b3d2;
}

.blue-btn:hover, .blue-btn:focus {
  background-color: #669ec0;
}

.blue-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.popup-content .blue-btn{
  display: block;
  height: 58px;
  width: 100%;
  margin-top: 50px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  vertical-align: middle;
}


.map{
  position: relative;
  width: 100%;
  height: 595px;

  background-color: #dee6c9;
}

.map img{
  width: 1200px;
  height: 595px;
}

.map iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 595px;
  border: none;
  z-index: 1;
}




.page-footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 36px;
  padding-left: 132px;
  padding-right: 100px;

  padding-bottom: 36px;
  background-color: #ffffff;
    z-index: 2;
}

.index-page-footer{position: relative;
  z-index: 2;
  background-color: rgba(256,256,256,0.8);
  margin-top: -120px;
}


.hashtag{
  font-size: 21px;
  margin: 0;
  margin-right: 253px;
}

.htmlacademy-link svg{
  display: inline-block;
  vertical-align: middle;
  width: 115px;
  height: 41px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin:0;
}

.social-btn{
  display: block;
  position: relative;

  width: 46px;
  height: 48px;
  margin:0 3px;

  background-color: #81b3d2;
}

.social-btn::before{
  content: "";
  width: 20px;
  height: 22px;
  position: absolute;
  top: 30%;
  left: 30%;}

.social-btn.twitter-btn::before{
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  }

.social-btn.facebook-btn::before{
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn.youtube-btn::before{
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
  }


.social-btn:hover{
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active::before{
  opacity: 0.3;
}

.htmlacademy-link{
  vertical-align: middle;
  margin:0;
  margin-right: 0;
  margin-left: auto;
}

.htmlacademy-link span{
  margin-right: 5px;
}

.htmlacademy:hover svg{
  fill:#81b3d2;
}

.htmlacademy:active svg{
  fill:#000000;
  fill-opacity: 0.3;
}

.search-form{
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 26px 72px;
  padding-bottom: 30px;

  line-height: 21px;
  color: #ffffff;
  min-height: 210px;

  background: #647e94 0 50% no-repeat url(../img/mountains_blur.jpg);
  background-size: 100% auto;
}

.search-form form{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.search-form fieldset {
  border: none;
  padding: 0;
}

.search-form legend {
  margin: 0;
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: bold;
}

.search-form ul {
  list-style: none;
  margin: 0;
}

.search-form li{
  margin: 0;
  margin-bottom: 25px;
}

.search-form li:last-child{
  margin-bottom:0 ;
}

.search-form .infrastructure{
  margin-right: 115px;
}
.search-form label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-сheckbox+label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;


}

.filter-сheckbox:checked+label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-сheckbox:disabled+label::before{
  opacity: 0.3;
}

.filter-сheckbox:focus+label::before{
  outline: 2px #e5e5e5 solid;
}

input.start-value{
    border-right: 2px #ffffff solid;
}

.filter-range {
  width: 320px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  height: 26px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}



.search-form .filter-range{
  margin-left: auto;
}



.sorting-field{
  font: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 31px 72px;

  vertical-align: middle;

}



.sorting-field ul {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-field span:first-child{
  vertical-align: middle;
  margin: 0;
  margin-right: 50px;

  font-size: 21px;
  line-height: 26px;
}

.sorting-field span:nth-child(2){
  vertical-align: bottom;
  margin: 0;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
}

.sorting-method{
  padding: 0;
}


.sorting-btn{
  margin: 0;
  margin-right: 32px;
  padding: 0;

  font: inherit;
  font-size: 12px;
  color: rgba(0,0,0,0.3);
  line-height: 18px;

  background-color: transparent;
  border: none;
  border-bottom: dotted 1px #81b3d2;
}

.sorting-btn:hover,
.sorting-btn:focus{
  color: #81b3d2;

  border-bottom: dotted 1px #81b3d2;

}

.sorting-btn:active{
  color: #000000;

  border: none;
}

.sorting-btn.current,
.sorting-btn.current:hover,
.sorting-btn.current:focus,
.sorting-btn.current:active{
  color: #81b3d2;
  cursor: default;

  border: none;
}

.order-field{
  margin: 0;
  margin-left: auto;
}

.order-direction:first-child{
  margin-right: 12px;
}

.order-direction{
  position: relative;
  padding:0;
  width: 12px;
  height: 12px;

  background-color: transparent;
  border: none;
}

.order-direction svg{
  fill: #cacaca;
}

.order-direction:hover svg{
  fill: #000000;
}


.order-direction:active svg{
  fill: #81b3d2;
}

.order-direction.current svg,
.order-direction.current:hover svg,
.order-direction.current:active svg{
   fill: #81b3d2;
   cursor: default;
}



.items {
  background-color: #ffffff;
  margin:0;

}

.search-result-list{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-result-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 90px;
  padding: 30px 72px;
  padding-bottom: 28px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.search-result-item:first-child{
  border-top: 1px solid rgba(0,0,0, 0.1);
}

.search-img img{
  display: block;
  width: 135px;
  height: 90px;
}

.search-img{
  margin-right: 30px;

}

.search-result-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  min-height: 90px;
  padding: 0;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.result-title {
  width: 100%;
  padding: 0;

  font: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.search-result-info a{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  display: inline-block;
  vertical-align: baseline;
}

.result-collumn{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 110px;
  min-height: 60px;
  margin-right: 5px;
  padding: 0;
}

.result-collumn-right{
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

}

.result-collumn span{
  display: inline-block;
  margin-bottom: 15px;
  padding-top: 5px;
}
.result-collumn .blue-btn{
  display:block;
  width: 100%;
  height: 27px;
  margin-bottom: 0;

  font-weight: bold;
}

.result-collumn .brown-btn{
  display:block;
  width: 100%;
  height: 27px;
  margin-bottom: 0;

  font-weight: bold;
}


.hotel-rating {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 90px;
  margin-left: auto;
}

.hotel-rating span{
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-right: 13px;
}

.hotel-rating ul{
  margin: 0;
  padding: 0;
}

.item-name h3{
  margin: 0;
  width: 100%;

}

.items ul {
  list-style: none;
}
.item-name h3:hover,
.item-name h3:focus {
  color: #81b3d2;
}

.item-name h3:active{
  color: rgba(0,0,0, 0.3);
}

.item-name h3:visited{
  color: rgba(0,0,0, 0.3);
}



.rating-text {
  color: #666666;

  background-color: #f2f2f2;
}

.starbar{
  padding: 0;
}

.starbar li{
  display:inline-block;
  position: relative;
  width: 18px;
  height: 18px;

  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
}
